.logo {
    position: absolute;
    top: 10px;
    left: 50%;

    transform: translate(-50%);

    background: url("/public/img/ChatGPT Image 4 juin 2025 - 14_21_26.png") center/cover ;

    height: 150px;
    width: 220px;

    border-radius: 5px;

    box-shadow: 5px 10px 9px 0px rgba(51, 51, 51, 0.5);
}

